<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multer</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full h-screen bg-zinc-900 p-10">
        <h1 class="text-white text-3xl">Upload Image</h1>
        <form action="/upload" method="post" class="mt-5 flex flex-col gap-2 w-8/12" enctype="multipart/form-data">
            <input type="file" name="image" class="bg-white text-black p-2 rounded w-8/12 mx-auto">
            <input type="submit" value="upload" class="bg-white text-black p-2 rounded w-4/12 mx-auto cursor-pointer">
        </form>
    </div>
</body>

</html>