<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full h-screen bg-zinc-900 p-10">
        <h1 class="text-white text-3xl">Create User</h1>
        <form action="/register" method="post" class="mt-5 flex flex-col gap-2 w-6/12">
            <input type="text" placeholder="Username" name="username" class="p-2">
            <input type="text" placeholder="Name" name="name" class="p-2">
            <input type="email" placeholder="Email" name="email" class="p-2 ">
            <input type="password" placeholder="Password" name="password" class="p-2">
            <input type="number" placeholder="Age" name="age" class="p-2 ">
            <input type="submit" value="Submit" class="bg-white text-black p-2 rounded w-6/12 mx-auto">
        </form>

        <a href="/login" class="text-blue-600">Login</a>
    </div>
</body>

</html>