<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full h-screen bg-zinc-900 p-10">
        <h1 class="text-white">Login user</h1>

        <form action="/login" method="POST">
            <input class="p-2 " type="email" name="email" placeholder="email">
            <input class="p-2" type="password" name="password" placeholder="password">
            <button type="submit" class="bg-white text-black px-2">Create</button>
        </form>
    </div>
</body>

</html>